.selected {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 10%;
    border-color: black;
    display: inline-block;
}

.deselected {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 10%;
    border-color: black;
    display: inline-block;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
