.conversation-bubble {
  -webkit-filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.1)) drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.15));
  margin: 1rem;
  margin-bottom: 40px;
  padding: 1.5rem 2rem;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  background: #8CA8D8;
  color: white;
  display: inline-block;
  border-radius: 10px;
}

/*https://codepen.io/grayghostvisuals/pen/GqzRox*/
.conversation-bubble::before {
  border: 12.5px solid transparent;
  border-top: 12.5px solid #8CA8D8;
  border-bottom: 0;
  height: 0;
  width: 0;
  border-top-width: 25px;
  content: '';
  display: block;
  position: absolute;
  left: 3rem;
  bottom: -25px;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(90deg) skew(-25deg) translateY(16.6666666667px);
  transform: rotate(90deg) skew(-25deg) translateY(16.6666666667px);
}

.received{
  text-align: left;
  float: left;
}

.received:before{
  transform: rotate(0deg) skew(155deg) translateX(-20px);
}

.sent{
  text-align: right;
  float: right;
}

.conversation-bubble.sent{
  background-color: #4CAF50;
}

.conversation-bubble.sent:before{
  color: black;
  border-top: 12.5px solid #4CAF50;
  border-top-width: 25px;
}

.conversation-bubble.unsent{
  background: red;
}

.unsent{
  text-align: right;
  float: right;
}

img.conversation-avatar-received {
  height: 80px;
  width: 80px;
  float: left;
  border-radius: 2px;
}

img.conversation-avatar-sent {
  height: 80px;
  width: 80px;
  float: right;
  border-radius: 2px;
}

.conversation-bubble.unsent::before{
  border-top: 12.5px solid red;
  border-top-width: 25px;
}

.conversation-bubble-wrap{
  display: block;
  overflow: hidden;
}

.chat-room-input-area{
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 10px;
  width: 100%;

}

.chat-room-text-input-wrap{
  width: 80%;
}

.chat-room-text-input{
  font-size: 2em;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid transparent;
  border-left: none;
  border-right: none;
  background-color: lightgray;
}

.chat-room-title{
  text-align: center;
  position: sticky;
  top: 0;
}

.button-enabled{
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;

  background-color: #4CAF50;
  color: white;
  border: 1px solid transparent;
  border-left: none;
}

.chat-room-container{
  padding-left: 60px;
  padding-right: 60px;
}
