#post-blog-page{
    background: #f1f1f1;
    margin-left: 2%;
    font-family: Arial, sans-serif;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    height: 85vh;
}
.post-detail-block{
    padding-left: 10px;
    display: inline-block;
    width: calc(100% - 70px);
}
.profile-photo-block{
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
    position: relative;
    top: 0;
    display: inline-block;
}
.post-block{
    border-radius: 10px;
    margin: auto;
    border: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    box-shadow: 5px 3px 5px 3px lightgray;
    width: 50%;
}
.post-user-name{
    font-size: 16pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.post-time{
    font-size: 10pt;
    margin: 0;
    display: inline-block;
    padding-left: 10px;
    color: dimgray;
}
.post-detail{
    font-size: 12pt;
    word-wrap: break-word;
    margin-top: 3px;
    margin-bottom: 8px;
    line-height: 24px;
}
.post-profile-photo{
    height: 50px;
    border-radius: 50px;
}
.interaction-buttons{
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}
.like-button{
    margin-right: 10px;
}
.comment-button{
    margin-right: 10px;
}
.share-button{
    margin-right: 10px
}
.post-drop-down-block{
    float: right;
}
.post-drop-down-menu{
    font-family: Ethnocentric, sans-serif;
}
.post-drop-down-button{
    display: block;
    text-decoration: none;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
.post-drop-down-button:hover{
    background: lightgray;
    color: black;
    text-decoration: none;
}
#new-post-editor{
    margin: 10px;
}
#start-user-input{
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}
#input-bar-user-avatar{
    vertical-align: top;
    display: inline-block;
}
.main-text-input-editor{
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    WebkitOverflowScrolling: touch;
    borderRadius: 4px;
    outline: none;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: auto;
}

#text-area{
    text-align: left;
    margin-left: 10px;
    vertical-align: top;
    height: 50px;
    width: calc(100% - 70px);
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    display: inline-block;
}
#message-area {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    white-space: pre-wrap;
}
#text-editor{
    width: 100%;
}
#visibility-selection{
    margin: 10px;
}
.selector-title{
    display: inline-block;
    font-weight: bold;
    padding-right: 20px;
    color: dimgray;
}
#tag-selection-title {
    vertical-align: 12px;
}
.selector-buttons{
    display: inline-block;
}
.selector-button {
    margin: 10px;
}
.inserted-image{
    height: 200px;
}
#text-editor-selection{
    margin: 10px;
}
#tag-list{
    display: inline-block;
    width: 50%;
    margin-left: 50px;
}
#select-tags{
    margin: 10px;
}
#text-editor-close-on-x{
    float: right;
    font-size: 20pt;
}
.comment-input-block{
    display: inherit;
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
}
.comment-text-input-bar{
    margin-top: 10px;
    padding: 6px 10px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: lightgray;
    font-size: 16px;
    resize: none;
    width: 100%
}
.comment-block-left-side-buttons{
    float: left;
}
.comment-block-right-side-buttons{
    float: right;
}
.comment-modification-button{
    margin: 4px;
}
.comment-private-checkbox{
    margin-left: 5px;
}

.all-comments-of-the-post{
    margin-top: 50px;
    border-top: 1px solid lightgray;
}

.comment-detail-block{
    padding-left: 10px;
    display: inline-block;
    width: calc(100% - 50px);
}
.comment-profile-photo-block{
    vertical-align: top;
    position: relative;
    top: 0;
    display: inline-block;
}
.comment-block{
    border-radius: 10px;
    border: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.comment-user-name{
    font-size: 16pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.comment-time{
    font-size: 10pt;
    margin: 0;
    display: inline-block;
    padding-left: 10px;
    color: dimgray;
    float: right;
}
.comment-detail{
    font-size: 12pt;
    word-wrap: break-word;
    margin-top: 3px;
    margin-bottom: 8px;
    line-height: 24px;
}
.comment-profile-photo{
    height: 40px;
    border-radius: 50px;
}
