
h1 {
    text-align: center;
}

.settings-form {
    border: none;
    border-radius: 6px;
    padding: 1%;
    margin: 1%;
    height: 100%;
}

.settings-item {
    margin: 1%;
}

.settings-item-label {
    padding: 1%;
    margin: 1%;
    width: 16%;
    display: inline-block;
    margin-right: 20px;
}

.settings-item-input {
    padding: 1%;
    margin: 1%;
    width: 50%;
    display: inline-block;
}

.tag-container {
    border-style: solid;
    border-radius: 10px;
    height: 120px;
    width: 250px;
    display: inline-block;
    background: skyblue;
}

.tag {
    padding: 5px;
    margin: 4px;
    display: inline-block;
    background: honeydew;
    box-shadow: 2px 2px 2px 2px lightblue;
    color: black;
    font-weight: bold;
}

.settings-save-button {
    padding: 1%;
    margin: 1%;
}

.height-lg {
    background: #f1f1f1;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    overflow: auto;
    height: 100%;
}
.user-profile-page{
    border-radius: 10px;
    border: 10px;
    margin: 10px auto;
    background: white;
    box-shadow: 5px 3px 5px 3px lightgray;
    width: 780px;
    padding: 6px 3px 6px 4px;
}

div.ReactModal__Overlay .user-profile-page {
    width: 780px;
}

@media screen and (max-width: 1024px) {
    .user-profile-page{
        width: 780px;
    }
    div.ReactModal__Overlay .user-profile-page {
        width: 780px;
    }
}

.user-profile-page-avatar-block{
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    position: relative;
}
.user-avatar{
    height: 150px;
    width: 150px;
}
.profile-listed-detail-left-block{
    display: inline-block;
    margin: 5px 10px;
    width: 240px;
    vertical-align: top;
}
.profile-detail-user-name{
    color: black;
    font-size: 18pt;
    font-weight: bold;
}
.profile-detail-user-department{
    font-size: 11pt;
    color: dimgray;
}
.profile-detail-user-major{
    font-size: 11pt;
    color: dimgray;
}

.profile-listed-detail-right-block{
    display: inline-block;
    margin: 10px;
    position: relative;
    left: 40px;
}
.user-interests-block-title{
    background: skyblue;
    color: #1031ff !important;
    font-size: 13pt;
    font-weight: bold;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
}
.user-interests-block-content{

}
.profile-interaction-button-list{
    position: relative;
    top: 10px;
}
.profile-interaction-button{
    background: royalblue;
    border-radius: 2px;
    border: none;
    margin-right: 5px;
    font-size: 13pt;
    color: honeydew;
}
.profile-interaction-button:hover{
    color: white;
    box-shadow: 2px 1px 1px 2px gray;
}

.profile-detail-user-recent-posts{
    display: inline-block;
    width: 60%;
}

.profile-detail-user-friend-list{
    display: inline-block;
    width: 25%;
    margin-left: 20px;
    vertical-align: top;
}

.settings-profile-photo-block{
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
    position: relative;
    top: 0;
    display: inline-block;
}
.settings-post-block{
    border-radius: 10px;
    border: 10px;
    margin: 10px;
    background: skyblue;
    box-shadow: 5px 3px 5px 3px lightgray;
    width: 100%;
    padding: 6px 3px 6px 4px;
}
.settings-post-time{
    font-size: 10pt;
    margin: 0;
    display: inline-block;
    padding-left: 10px;
    color: dimgray;
    float: right;
    font-weight: 600;
}
.settings-post-detail-block{
    padding-left: 10px;
    display: inline-block;
    width: calc(100% - 100px);
}
.settings-post-user-name{
    font-size: 16pt;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.settings-post-detail{
    word-wrap: break-word;
    margin-top: 3px;
    margin-bottom: 8px;
    line-height: 24px;
    font-size: 12pt;
    color: black;
    font-weight: 500;
}
.settings-profile-photo{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.settings-inserted-image{
    margin: 5px;
    width: 100px;
}
.settings-user-block{
    border-radius: 10px;
    border: 10px;
    margin: 10px;
    background: skyblue;
    box-shadow: 5px 3px 5px 3px lightgray;
    width: 120%;
    padding: 6px 3px 6px 4px;
}
.settings-user-block-user-info{
    margin: 5px;
    width: 60%;
    display: inline-block;
}
.settings-user-block-name{
    font-weight: bold;
    font-size: 11pt;
    color: #1031ff !important;
    margin: 5px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.settings-user-block-interactions{
    display: inline-block;
    margin: 5px;
    float: right;
}
.settings-user-block-avatar{
    width: 30px;
    height: 30px;
    vertical-align: top;
    display: inline-block;
}
.profile-block-title{
    display: inline-block;
    font-size: 14pt;
    margin: 5px 10px 5px 20px;
    color: #1031ff !important;
    font-weight: bolder;
}
.user-profile-editor{
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid #ccc;
    background: #fff;
    WebkitOverflowScrolling: touch;
    borderRadius: 4px;
    outline: none;
    padding: 20px;
    width: 1200px;
    height: 600px;
    margin: auto;
}
.settings-tag-container{
    width: 52%;
    display: inline-block;
    padding: 1%;
}
.profile-settings-buttons-block{
    top: 20px;
    position: relative;
    margin: 20px;
}
.profile-settings-button{
    margin-right: 10px;
}
#profile-button-more-icon{
    position: relative;
    bottom: 3px;
    margin-left: 5px;
}
.profile-interaction-drop-down-buttons{
    display: none;
    position: absolute;
    background: white;
    z-index: 1;
    box-shadow: 0 8px 16px 0 lightgray;
    width: 200px;
}
.profile-drop-down-button{
    display: block;
    text-align: left;
    margin: 5px;
}
.profile-drop-down-button:hover{
    text-decoration: none;
}
.post-drop-down-button{
    text-align: left;
    margin: 5px;
    font-size: 12pt;
}
.post-drop-down-button:hover{
    color: #1031ff !important;
    background: none;
}
.profile-change-profile-photo{
    display: none;
    position: absolute;
    top: 60%;
    z-index: 1;
    background: black;
    border: none;
    font-size: 12pt;
    color: white;
    height: 60px;
    width: 150px;
    opacity: 0.65;
    border-radius: 3px;
}
.user-profile-page-avatar-block:hover .profile-change-profile-photo{
    display: block;
}
.upload-profile-photo-title{
    color: white;
    opacity: 1;
}
#upload-profile-photo-icon{
    position: relative;
    margin-top: 5px;
    top: 10px;
}
.settings-avatar-item-label{
    font-size: 18pt;
}
.settings-avatar-item-label-description{
    font-size: 14pt;
}
.profile-picture-previews{
    margin: 20px 0;
}
.settings-avatar-item-preview{
    display: inline-block;
    border: 1px solid lawngreen;
    vertical-align: bottom;
    margin: 10px
}
.settings-avatar-buttons-lock{
    margin: 30px 0;
}
.settings-avatar-button{
    margin: 5px;
}
#user-timetable td input{
    width: 120px;
}
.user-profile-timetable-block div{
    background: royalblue;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    display: block;
}
.user-profile-timetable-block div span{
    color: white;
    font-weight: bold;
    position: relative;
    left: 40%;
    font-size: 14pt;
}
.user-profile-timetable-block div button{
    color: skyblue;
    background: none;
    border: none;
    margin-left: 10px;
    font-size: 11pt;
    float: right;
}
.user-profile-timetable-block div button:hover{
    text-decoration: underline;
}
#user-timetable th{
    border: 1px solid black;
    padding: 5px;
    color: #1031ff !important;
    background-color: skyblue;
}
#user-timetable td{
    border: 1px solid black;
    padding: 5px;
}
#user-timetable tr:nth-child(even) {
    background-color: #eee;
}
#user-timetable tr:nth-child(odd) {
    background-color: #fff;
}
#user-timetable tr td button{
    border: none;
    background: none;
}
.user-profile-timetable-block{
    width: 90%;
    margin-left: 2%;
}
.user-timetable-add-new-button{
    float: right;
    color: limegreen;
}
.edit-course-submit-button{
    color: limegreen;
    margin: 2px;
}
.edit-course-cancel-button{
    color: red;
    margin: 2px;
}
.user-timetable-page-stuffs{
    border: none;
    background: none;
    float: right;
}
.edit-course-delete-button{
    float: right;
}

div.ReactModal__Overlay {
    z-index: 5;
} 
