.sidebar {
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  padding-left: 20px;
  transition: 0.3s ease-in-out;
}

.sidebar-container{
  background-color: #0e2473;
}

.sidebar a {
  margin: 0 30px 60px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #e9e1e1;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .openbtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}

.openbtn {
  z-index: 0;
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #0e2473;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  color: royalblue;
}

.myFriend {
  height: 100%;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #0e2473;
  overflow-x: hidden;
  padding-top: 40px;
  padding-right: 15px;
  color: #e9e1e1;
  padding-left: 15px;
  transition: 0.4s;
}

.myFriend p {
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
}
.myFriend li {
  padding: 10px 20px 10px 10px;
  text-decoration: none;
  font-size: 20px;
  color: #e9e1e1;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 5px;
  margin: 15px 10px 15px 10px;
}
.myFriend li:hover {
  background: royalblue;
  color: white;
}

.myFriend li span {
  padding-left: 10px;
}

.right-open-button {
  z-index: 0;
  position: absolute;
  top: 44px;
  right: 20px;
  font-size: 30px;
  color:#f1f1f1;
  text-decoration: none;
}

.right-open-button:hover {
  color: royalblue;
  text-decoration: none;
}

.right_collapse {
  transition: 0.3s ease-in-out;
  width: 200px;
}

.username-display {
  text-align: center;
}