.sidebar {
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidebar-container{
  background-color: #0e2473;
}

.sidebar a {
  padding: 0 30px 60px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #e9e1e1;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .openbtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}

.openbtn {
  z-index: 0;
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #0e2473;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  color: aqua;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 90px;}
  .sidebar a {font-size: 18px;}
}

.myFriend {
  height: 100%;
  top: 108px;
  right: 0;
  background-color: #0e2473;
  overflow-x: hidden;
  padding-top: 40px;
  color: #e9e1e1;
  display: block;
  padding-left: 30px;
}

.myFriend p {
  text-align: center;
  font-size: 30px;
}
.myFriend li {
  padding: 10px 40px 30px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #e9e1e1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.myFriend li span {
  padding-left: 10px;
}

.right-open-button {
  z-index: 0;
  position: absolute;
  top: 44px;
  right: 20px;
  font-size: 30px;
  color:#f1f1f1;
  text-decoration: none;
}

.right-open-button:hover {
  color: aqua;
  text-decoration: none;
}