
header {
  text-align: center;
  color: white;
  padding: 20px;
  font: Arial;
  background-image: url('../images/background.jpg') ;
  height: 300px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  z-index: -100;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

.my-row{
  display: flex;
  height: 100%;

  margin-right: 0 !important;
  width: 100vw;
}

.central-panel{
  flex: 1;
  overflow-y: auto;
  height: 100%;
  background-color: #eee;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
  background: transparent;
}

#root{
  flex: 1;
  overflow: hidden;
}

.header{
  width: 100vw;
}

@media screen and (max-width: 1024px) {
  .my-row{
    display: block;
  }
}

.unread{
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 6px;
}
