
header {
  text-align: center;
  background-color: #0e2473;
  color: #e9e1e1;
  padding: 20px;
  font: Arial;
  z-index: 1;
  background-image: url('../images/background.jpg') ;
  height: 300px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 1100px) {
  body {
    width: 1150px;
  }
}

a {
  color: #00B7FF;
}

.row{
  display: flex;
  height: 100%;
  background: #f1f1f1;
  margin-right: 0 !important;
}

.central-panel{
  flex: 1;
  overflow: auto;
}
