
header {
  text-align: center;
  background-color: #0e2473;
  color: #e9e1e1;
  padding: 20px;
  font: Arial;
  background-image: url('../images/background.jpg') ;
  height: 300px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  z-index: -100;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

.my-row{
  display: flex;
  height: 100%;
  background: #f1f1f1;
  margin-right: 0 !important;
  width: 100vw;
}

.central-panel{
  flex: 1;
  overflow-y: auto;
  height: 100%;
}

#root{
  flex: 1;
  overflow: hidden;
}

.header{
  width: 100vw;
}

.unread{
  background-color: red;
}
