
header {
  text-align: center;
  background-color: #094d96;
  color: #e9e1e1;
  padding: 20px;
  font: sans-serif;
  z-index: 1;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
